<!-- <h1>home</h1>
<h2>successfully loged in as {{request.user.username}}</h2>
<a href="{% url 'logout' %}">logout</a>
<a href="{% url 'change_password' %}">change password</a><br>
<a href="{% url 'update_user' %}">update account</a> -->
<!DOCTYPE html>
<html>

<head>
  <title>home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>

<body>
<div class="container">
<br><br><h3><strong>DASHBOARD<span class="icon icon-home" style="color:green;"></strong></h3><br><br>
  <h3><strong>WELCOME {{request.user.username}}<span class="icon icon-home" style="color:green;"></strong></h3><br><br>

<div class="row">
  <div class="col-md-3 bg-info" style="margin-right:10px; box-shadow:2px 2px 2px 2px grey">
    <h3 style="color:white;" ><strong>PROFILE</strong></h3>


       <a href="{% url 'update_user' %}" ><h5><span style="color:white;" class="icon icon-arrow-right">UPDATE </span></h5></a>
  </div>






  <div class="col-md-3 bg-success" style=" margin-right:10px; box-shadow:2px 2px 2px 2px grey">


    <a href="{% url 'change_password' %}" ><h5><span style="color:white;" class="icon icon-arrow-right">CHANGE PASSWORD</span></h5></a>
  </div>

  <div class="col-md-3 bg-warning" style=" box-shadow:2px 2px 2px 2px grey">

    <a href="{% url 'logout-h' %}" ><h5>LOGOUT<span style="color:white;" class="icon icon-arrow-right"></span></h5></a>
  </div><br><br>
    {% for message in messages %}
    <p id="messages">{{message}}</p>
  {% endfor %}
</div>
</body>

</html>